<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/gps</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.username">leo</property>
        <property name="connection.password">leo123</property>
        <mapping resource="Hzgpstaxi.hbm.xml"/>
        <mapping resource="Hzgpstaxi_tmp.hbm.xml"/>
    </session-factory>
</hibernate-configuration>